button {
    display: block;
}

label {
    display: block;
}

table {
    border-collapse: collapse;
}

table,
td {
    border: 1px solid black;
}

textarea {
    width: 80%;
    max-width: 500px;
    height: 300px;
}


/*square up the boxes*/

td {
    min-width: 18px;
    height: 18px;
}


/*center the headings */

tr:nth-child(1) td,
tr:nth-child(2) td {
    text-align: center;
}


/*names*/

td:first-child {
    text-align: center;
}


/*heavy border below dates */

tr:nth-child(3) td {
    border-top-width: 3px;
}


/*heavy vert border for weekends*/

.weekendBorder {
    border-left-width: 3px;
}


/*heavy horiz border for peopleGroups*/

.peopleGroup td {
    border-top-width: 3px;
}


/*remove top left borders for topleft cells*/

tr:nth-child(1) td:first-child,
tr:nth-child(2) td:first-child {
    border-color: transparent;
}


/*graying out of days for kid that can be there*/

.mwf td.Mon,
.mwf td.Wed,
.mwf td.Fri,
.tth td.Tue,
.tth td.Thu {
    background-color: lightgray;
}