body {
    font-family: sans-serif;
}

button {
    display: block;
}

label {
    display: block;
}

table {
    border-collapse: collapse;
    margin: 10px auto;
    height: 7in;
    width: 10.5in;
}

table,
td {
    border: 1px solid black;
}

textarea {
    width: 80%;
    max-width: 500px;
    height: 300px;
}


/*square up the boxes*/

td {
    min-width: 18px;
    height: 18px;
}


/*center the headings */

tr:nth-child(1) td,
tr:nth-child(2) td {
    text-align: center;
}


/* center the days they are there*/

td:nth-child(2) {
    text-align: center;
}


/*heavy border below dates */

tr:nth-child(3) td {
    border-top-width: 3px;
}


/*heavy vert border for weekends*/

.weekendBorder {
    border-left-width: 3px;
}


/*heavy horiz border for peopleGroups*/

.peopleGroup td {
    border-top-width: 3px;
}


/*remove top left borders for topleft cells*/

tr:nth-child(1) td:nth-child(1),
tr:nth-child(1) td:nth-child(2),
tr:nth-child(2) td:nth-child(1),
tr:nth-child(2) td:nth-child(2) {
    border-color: transparent;
}


/*line up the names and fix the borders*/

tr td:nth-child(1) {
    padding-right: 10px;
    padding-left: 10px;
    border-right-color: transparent;
}

tr td:nth-child(2) {
    border-left-color: transparent;
}


/*graying out of days for kid that can be there*/

.wantHighlighing .MWF td.Mon,
.wantHighlighing .MWF td.Wed,
.wantHighlighing .MWF td.Fri,
.wantHighlighing .TTH td.Tue,
.wantHighlighing .TTH td.Thu {
    background-color: lightgray;
}


/*fix the headings*/

#rollmakerOutput h1,
#rollmakerOutput h2 {
    text-align: center;
    margin: 0;
}

#rollmakerOutput h2 {
    font-size: 15px;
}


/*make it print right*/

@media print {
    #settings {
        display: none;
    }
    #rollmakerOutput h2 {
        page-break-before: always;
    }
}


/*days off*/

.dayOff {
    max-width: 18px;
    white-space: nowrap;
    vertical-align: top;
    background-color: dimgray;
}

.dayOff > div {
    transform: translateY(15px) rotate(90deg);
    font-weight: bold;
    color: white;
}